version: '3.4'

services:
  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    ports:
      - 3000:3000/tcp
    environment:
      - GF_INSTALL_PLUGINS=https://github.com/VolkovLabs/volkovlabs-env-datasource/releases/download/v2.4.0/volkovlabs-env-datasource-2.4.0.zip;volkovlabs-env-datasource
    volumes:
      - ./provisioning:/etc/grafana/provisioning

  nginx:
    container_name: nginx
    build: ./nginx
    restart: always
    environment:
      - GRAFANA_HOST=localhost
    ports:
      - 80:80/tcp
      - 443:443/tcp
    depends_on:
      - grafana
